@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/Logo.png');
    background-size: 50%;
    background-repeat: no-repeat; 
    background-position: center; 
    background-color: white;
  }
  
  .home-title {
    font-size: 24px;
    color: #333;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
    margin-top: 200px;
    font-family: 'Pacifico', cursive;

  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  