@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-list-container {
  animation: fadeIn 1s ease-in;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: white;
}

.product-list-container .product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  transition: transform 0.3s;
}

.product-list-container .product-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.product-list-container .product-item.spinning {
  animation: spin 2s linear;
}

.product-list-container .product-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.product-list-container .product-item p {
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
}

.loading {
  text-align: center;
  margin-top: 400px;
  font-size:xx-large
}
